.intro-block {
  // Константы
  @mixin mod($mod) {
      @include modifier("intro-block", $mod) {
          @content;
      }
  }
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  //background: image("index/bg.jpg") no-repeat center bottom / cover;
  transition: height .3s;
  @include option(height, 301, 158);
  .custom-page_index & {
    @include option(height, 518, 389);
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 120%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 1;

    @include MOBILE{
      height: 100%;
      width: auto;
    }
  }
  &__svg {
    position: relative;
    z-index: 2;
    $h: 460px;
    @include option(width, 460, 229);
    @include MOBILE {
      @include mod(index) {
        width: vw-m(280px);
      }
    }
  }
  &__quote,
  &__subtitle {
    opacity: 0;
    transition: opacity .3s;
    .custom-page_index & {
        opacity: 1;
    }
  }
  &__line {
    position: absolute;
    width: 100%;
    @include option(height, 58);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    z-index: 2;
    svg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      height: 100%;
    }
  }
}
