.intro-block {
    // Константы
    @mixin mod($mod) {
        @include modifier("intro-block", $mod) {
            @content;
        }
    }
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background: image("index/bg.jpg") no-repeat center bottom / cover;
    $h: 301px;
    transition: height .3s;
    @include DESKTOP {
        height: vw($h);
    }
    @include TABLET {
        height: vw-t($h);
    }
    @include MOBILE {
        height: vw-m(158px);
    }
    .custom-page_index & {
        $h: 518px;
        @include DESKTOP {
            height: vw($h);
        }
        @include TABLET {
            height: vw-t($h);
        }
        @include MOBILE {
            height: vw-m(389px);
        }
    }
    &__bg {
      position: absolute;
      top: 50%;
      left: 50%;
      // height: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      @include MOBILE{
        height: 100%;
        width: auto;
      }
    }
    &__svg {
        position: relative;
        $h: 460px;
        @include DESKTOP {
            width: vw($h);
        }
        @include TABLET {
            width: vw-t($h);
        }
        @include MOBILE {
            width: vw-m(229px);
            @include mod(index) {
                width: vw-m(280px);
            }
        }
    }
    &__quote,
    &__subtitle {
        opacity: 0;
        transition: opacity .3s;
        .custom-page_index & {
            opacity: 1;
        }
    }
    &__line {
        $h: 58px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;
        svg {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            height: 100%;
        }
        @include DESKTOP {
            height: vw($h);
        }
        @include TABLET {
            height: vw-t($h);
        }
        @include MOBILE {
            height: vw-m($h);
        }
    }
}
