mixin intro-block(content, params)
  .intro-block&attributes(attributes)
    img(src="images/index/bg.jpg").intro-block__bg
    include welcome.svg
    .intro-block__line
      include bottom-line.svg
