/**
 * Обычный текст
 */
%DEFAULT {
  font-family: $PTSans;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  color: $BLACK;
  @include DESKTOP {
    font-size: vw(14px);
  }
  @include TABLET {
    font-size: vw-t(14px);
  }
  @include MOBILE{
    font-size: vw-m(14px);
  }
}

/**
 *
 */
%MENU {
  font-family: $PTSans;
  font-size: 14px;
  line-height: 4;
  text-transform: uppercase;
  font-weight: bold;
  @include MOBILE {
    // font-size: 18px;
    font-size: vw-m(18px);
    line-height: 3;
  }
  @include DESKTOP {
    font-size: vw(14px);
  }
  @include TABLET {
    font-size: vw-t(14px);
  }
}

/**
 *
 */
%FORM-TITLE {
  font-family: $PTSans;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  @include MOBILE {
    font-size: vw-m(21px);
    line-height: 1.4;
  }
  @include DESKTOP {
    font-size: vw(30px);
  }
  @include TABLET {
    font-size: vw-t(30px);
  }
}

/**
 *
 */
%H2 {
  font-family: $PTSans;
  font-size: 21px;
  line-height: 1.23;
  text-transform: uppercase;
  font-weight: bold;
  @include MOBILE {
    font-size: vw-m(18px);
    line-height: 1.4;
  }
  @include DESKTOP {
    font-size: vw(21px);
  }
  @include TABLET {
    font-size: vw-t(21px);
  }
}

/**
 *
 */
%BUTTON {
  font-family: $PTSans;
  font-size: 21px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: $WHITE;
  @include DESKTOP {
    font-size: vw(21px);
  }
  @include TABLET {
    font-size: vw-t(21px);
  }
  @include MOBILE {
    font-size: vw-m(21px);
  }
}

/**
 *
 */
%HASHTAG {
  font-family: $PTSans;
  font-size: 21px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: $BLACK;
  @include DESKTOP {
    font-size: vw(21px);
  }
  @include TABLET {
    font-size: vw-t(21px);
  }
  @include MOBILE {
    font-size: vw-m(21px);
  }
}
