/**
 * Обычный текст
 */
%DEFAULT {
  font-family: $PTSans;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  color: $BLACK;
  @include DESKTOP {
    font-size: vw(14px);
  }
}

/**
 *
 */
%MENU {
  font-family: $PTSans;
  font-size: 14px;
  line-height: 4;
  text-transform: uppercase;
  font-weight: bold;
  @include MOBILE {
    font-size: 18px;
    line-height: 40px;
  }
  @include DESKTOP {
    font-size: vw(14px);
  }
}

/**
 *
 */
%H2 {
  font-family: $PTSans;
  font-size: 21px;
  line-height: 1.23;
  text-transform: uppercase;
  font-weight: bold;
  @include MOBILE {
    font-size: 18px;
    line-height: 1.4;
  }
  @include DESKTOP {
    font-size: vw(21px);
  }
}

/**
 *
 */
%BUTTON {
  font-family: $PTSans;
  font-size: 21px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: $WHITE;
  @include DESKTOP {
    font-size: vw(21px);
  }
}

/**
 *
 */
%HASHTAG {
  font-family: $PTSans;
  font-size: 21px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: $BLACK;
  @include DESKTOP {
    font-size: vw(21px);
  }
}
