.textarea {
  // Константы
  @mixin mod($mod) {
    @include modifier("textarea", $mod){
      @content;
    }
  }
  width: 100%;
  @include option(height, 160);

  &__textarea{
    @extend %TEXTAREA;
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    background: $BASE-BG;
    border: none;
    $p: 22px 21px;
    @include option(padding, 22 21);
  }
}
