.textarea {
  // Константы
  @mixin mod($mod) {
    @include modifier("textarea", $mod){
      @content;
    }
  }
  width: 100%;
  $h: 160px;
  @include DESKTOP{
    height: vw($h);
  }
  @include TABLET{
    height: vw-t($h);
  }
  @include MOBILE{
    height: vw-m($h);
  }

  &__textarea{
    @extend %TEXTAREA;
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    background: $BASE-BG;
    border: none;
    $p: 22px 21px;
    @include DESKTOP{
      padding: vw($p);
    }
    @include TABLET{
      padding: vw-t($p);
    }
    @include MOBILE{
      padding: vw-m($p);
    }
  }
}
