.p-form {
  // Константы
  @mixin mod($mod) {
    @include modifier("p-form", $mod){
      @content;
    }
  }
  @mixin item-mod($mod) {
    @include modifier("p-form__item", $mod){
      @content;
    }
  }
  display: none;
  text-align: center;
  overflow-x: hidden;

  .custom-page_feedback &{
    display: block;
  }

  &__info{
    @include option(padding, 92 0 62, 0 20 20, 71 0);
    @include MOBILE{
      box-sizing: border-box;
    }
  }

  &__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    @include option(padding, 0 97, 0, 0 60);
    @include MOBILE{
      flex-direction: column;
    }
  }


  &__title{
    @extend %FORM-TITLE;
    width: 100%;
    $m: 25px 0;
    @include option(margin, 25 0, 41px 0 30px);
    @include scroll-in{
      animation: fade-in-bottom .3s both ease-in-out;
    }
  }

  &__text{
    width: 100%;
    text-align: center;
    @include scroll-in{
      animation: fade-in-bottom .3s both ease-in-out;
    }

    @include MOBILE{
      br{
        display: none;
      }
    }
  }

  &__item{
    flex: 0 0 100%;
    margin: 0;
    box-sizing: border-box;
    @include scroll-in{
      animation: fade-in-bottom 1s .1s ease-in-out both;
    }

    &_small{
      flex: 0 0 40%;
      @include TABLET{
        text-align: left;
      }
    }
    &_full-name{
      text-align: left;

      @include MOBILE(){
        order:-2;
      }
    }
    &_contacts{
      @include MOBILE(){
        order:-1;
      }
    }

    @include MOBILE{
      padding: vw-m(0 20px);
      text-align: center;
      border-top: 1px solid #e6e6e6;
    }
  }

  &__item-title{
    position: relative;
    @extend %H2;
    @include MOBILE{
      margin: vw-m(20px 0);
    }
    @include item-mod(big){
      @include option(margin, 40 0, 20 0);
    }
    @include item-mod(small){
      @include option(margin, 0 0 50, 20 0);
    }

    &:before{
      content: '';
      clear: both;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: none;
      width: 100%;
      height: 1px;
      background: #333333;
    }

    span{
      position: relative;
      display: block;
      margin: auto;
      box-sizing: border-box;
      background: $WHITE;
      width: auto;
      padding: 0;
    }

    @include item-mod(big){
      span{
        @include option(width, 400px, auto);
        @include option(padding, 0 40, 0);
      }
      @include NOT-MOBILE{
        &:before{
          display: block;
        }
      }
    }
  }

  &__item-list{
    display: flex;
    justify-content: space-between;
    @include item-mod(small){
      flex-direction: column;
      text-align: left;
    }

    @include TABLET{
      flex-direction: column;
      @include item-mod(attractions){
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
        margin: auto;
      }
    }
    @include MOBILE{
      margin: vw-m(20px 0);
      flex-direction: column;
      @include item-mod(emotions){
        margin: 0;
      }
    }
  }

  &__button{
    @include option(margin, 58 0 66, 51 auto 40, 51 auto 40);

    @include scroll-in{
      animation: fade-in-bottom 1s .1s ease-in-out forwards;
    }
  }
}
