.p-form {
  // Константы
  @mixin mod($mod) {
    @include modifier("p-form", $mod){
      @content;
    }
  }
  @mixin item-mod($mod) {
    @include modifier("p-form__item", $mod){
      @content;
    }
  }
  display: none;
  text-align: center;
  overflow-x: hidden;

  .custom-page_feedback &{
    display: block;
  }

  &__info{
    @include DESKTOP{
      padding: vw(92px 0 60px);
    }
    @include TABLET{
      padding: vw-t(71px 0);
    }
    @include MOBILE{
      padding: vw-m(0 20px 20px);
      box-sizing: border-box;
    }
  }

  &__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include DESKTOP{
      padding: vw(0 97px);
    }
    @include TABLET{
      padding: vw-t(0 60px);
    }
    @include MOBILE{
      flex-direction: column;
    }
  }


  &__title{
    width: 100%;
    @extend %FORM-TITLE;
    $m: 25px 0;
    @include DESKTOP{
      margin: vw($m);
    }
    @include TABLET{
      margin: vw-t($m);
    }
    @include MOBILE{
      margin: vw-m(41px 0 30px);
    }
  }
  &__text{
    width: 100%;
    text-align: center;

    @include MOBILE{
      br{
        display: none;
      }
    }
  }

  &__item{
    flex: 0 0 100%;
    margin: 0;
    box-sizing: border-box;

    &_small{
      flex: 0 0 40%;
      @include TABLET{
        text-align: left;
      }
    }
    &_full-name{
      text-align: left;

      @include MOBILE(){
        order:-2;
      }
    }
    &_contacts{
      @include MOBILE(){
        order:-1;
      }
    }

    @include MOBILE{
      padding: vw-m(0 20px);
      text-align: center;
      border-top: 1px solid #e6e6e6;
    }
  }

  &__item-title{
    position: relative;
    @extend %H2;
    @include MOBILE{
      margin: vw-m(20px 0);
    }
    @include item-mod(big){
      @include DESKTOP{
        margin: vw(40px 0);
      }
      @include TABLET{
        margin: vw-t(40px 0);
      }
    }
    @include item-mod(small){
      @include DESKTOP{
        margin: vw(0 0 50px);
      }
      @include TABLET{
        margin: vw-t(0 0 50px);
      }
    }

    &:before{
      content: '';
      clear: both;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: none;
      width: 100%;
      height: 1px;
      background: #333333;
    }

    span{
      position: relative;
      display: block;
      margin: auto;
      box-sizing: border-box;
      background: $WHITE;
      width: auto;
      padding: 0;
    }

    @include item-mod(big){
      @include DESKTOP{
        span{
          width: vw(400px);
          padding: vw(0 40px);
        }
        &:before{
          display: block;
        }
      }
      @include TABLET{
        span{
          width: vw-t(400px);
          padding: vw-t(0 40px);
        }
        &:before{
          display: block;
        }
      }
    }
  }

  &__item-list{
    display: flex;
    justify-content: space-between;
    @include item-mod(small){
      flex-direction: column;
      text-align: left;
    }

    @include TABLET{
      flex-direction: column;
      @include item-mod(attractions){
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
        margin: auto;
      }
    }
    @include MOBILE{
      margin: vw-m(20px 0);
      flex-direction: column;
      @include item-mod(emotions){
        margin: 0;
      }
    }
  }

  &__button{
    margin: auto;
    @include DESKTOP{
      margin: vw(58px 0 66px);
    }
    @include TABLET{
      width: vw-t(324px);
      margin: vw-t(51px auto 40px);
    }
    @include MOBILE{
      margin: vw-m(51px auto 40px);
    }
  }
}
