.p-index {
  // Константы
  @mixin mod($mod) {
    @include modifier("p-index", $mod) {
      @content;
    }
  }
  @mixin item-mod($mod) {
    @include modifier("p-index__item", $mod) {
      @content;
    }
  }

  &__intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: image("index/bg.jpg") no-repeat center / cover;
    $h:518px;
    @include DESKTOP {
      height: vw($h);
    }
    @include TABLET {
      height: vw-t($h);
    }
    @include MOBILE {
      height: vw-m(389px);
    }
  }

  &__intro-image {
    $h:460px;
    @include DESKTOP {
      width: vw($h);
    }
    @include TABLET {
      width: vw-t($h);
    }
    @include MOBILE {
      width: vw-m(287px);
    }
  }

  &__intro-line {
    $h: 57px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      height: 101%;
    }
    @include DESKTOP {
      height: vw($h);
    }
    @include TABLET {
      height: vw-t($h);
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__info-wrap{
    width: 458px;
    margin: auto;
    $p: 50px 0 55px;
    @include DESKTOP {
      padding: vw($p);
    }
    @include TABLET {
      padding: vw-t($p);
    }
  }

  &__info-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__info-title{
    @extend %H2;
    margin: 0;
  }
  &__info-subtitle{
    $mt:20px;
    @include DESKTOP {
      margin-top: vw($mt);
    }
    @include TABLET {
      margin-top: vw-t($mt);
    }
  }

  &__form{
    text-align: center;
    @include DESKTOP {
      padding: vw(57px 80px 66px);
    }
    @include TABLET {
      padding: vw-t(57px 80px 66px);
    }
  }


  &__form-title{
    @extend %FORM-TITLE;
  }
  &__form-text{
    margin: vw(25px 0 52px);
  }

  &__map{
    width: 100%;
    $h:350px;
    iframe{
      width: 100%;
      height: 100%;
    }

    @include DESKTOP {
      height: vw($h);
    }

    @include TABLET {
      height: vw-t($h);
    }
  }
}
