mixin p-index(content, params)
  .p-index&attributes(attributes)
    .p-index__welcome-block
      img(src=content.welcomeLogo).p-index__welcome-block-image
      .p-index__welcome-block-line
        include bottom-line.svg
    +p-index__info(content.info)
    +p-index__form


mixin p-index__info(content, params)
  .p-index__info&attributes(attributes)
    .p-index__info-wrap
      h2.p-index__info-title!=content.title
      .p-index__info-subtitle!=content.subtitle
    .p-index__info-list
      +pug-list(content.list, "fact")

mixin p-index__form(content, params)
  .p-index__form&attributes(attributes)
