.p-photo {
  // Константы
  @mixin mod($mod) {
    @include modifier("p-photo", $mod){
      @content;
    }
  }
  @mixin item-mod($mod) {
    @include modifier("p-photo__item", $mod){
      @content;
    }
  }
  @mixin item-hover {
    .p-photo__item:hover &{
      @include DESKTOP{
        @content;
      }
    }
  }
  display: none;
  user-select: none;
  overflow-x: hidden;

  .custom-page_photo &{
    display: block;
  }

  &__info{
    @include option(width, 428, auto);
    margin: auto;
    @include option(padding, 113 0 77, 44 22 33, 76 0);
    text-align: center;
    box-sizing: border-box;
  }

  &__info-title{
    @extend %H2;
    margin: 0;
    @include scroll-in{
      animation: fade-in-bottom .3s both 0.1s;
    }
  }
  &__info-text{
    @include option(margin-top, 20px);
    @include scroll-in{
      animation: fade-in-bottom .3s both 0.2s;
    }
  }
  &__gallery{
    @include NOT-MOBILE{
      display: flex;
      flex-wrap: wrap;
    }
    @include TABLET{
      padding: vw-t(0 60px);
    }
    @include MOBILE{
      border-bottom: 1px solid #b2b2b2;
    }
  }

  &__item{
    position: relative;
    @include NOT-MOBILE{
      animation: fade-in-left 1s .3s ease-in-out both;
    }
    @include DESKTOP{
      flex: 1 1 33%;
      height: vw(267px);
      &_big{
        flex: 1 1 100%;
        height: vw(400px);
      }
    }
    @include TABLET{
      flex: 0 1 50%;
      &_big{
        flex: 1 1 100%;
      }
    }
    @include MOBILE{
      padding: vw-m(22px 20px);
      box-sizing: border-box;
      border-top: 1px solid #b2b2b2;
    }

    @include scroll-in{
      @for $i from 1 through 4{
        &:nth-of-type(#{$i}){
          animation: fade-in-left 1s 0.5s*$i ease-in-out both;
        }
      }
    }
  }

  &__item-info{
    position: relative;
    @include DESKTOP{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($BLACK,0.3);
      color: $WHITE;
      padding: vw(21px 22px);
      transition: padding .3s, background .3s;
      @include item-hover{
        padding-bottom: vw(100px);
        background: rgba($BLACK,0.5);
      }
    }

    @include TABLET{
      padding: vw-t(21px 22px);
      background: $GRAY;
    }
  }

  &__item-title{
    font-weight: bold;
  }
  &__author{
    text-transform: none;
  }

  &__image{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    @include MOBILE{
      height: vw-m(280px);
      margin-bottom: vw-m(21px);
    }
    @include TABLET{
      height: vw-t(267px);
      @include item-mod(big){
        height: vw-t(400px);
      }
    }
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include DESKTOP{
        min-height: 100%;
        width: 100%;
      }
      @include NOT-DESKTOP{
        height: 100%;
      }
    }
  }

  &__likes{
    display: flex;
    @include NOT-MOBILE{
      position: absolute;
    }
    @include option(top, 33, auto);
    @include option(right, 22, auto);
  }

  &__likes-icon{
    @include option(width, 24);
    @include option(height, 22);
    @include option(margin-right, 9);
    @include MOBILE{
      fill: #b2b2b2;
    }
    @include TABLET{
      fill: #b2b2b2;
    }
    @include DESKTOP{
      fill: $WHITE;
    }
  }

  &__bonus{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    @include option(padding, 72 0 85, 68 0 40, 39 0 49);
  }

  &__bonus-title{
    @extend %H2;
    margin: 0;
    @include scroll-in{
      animation: fade-in-bottom 0.3s 2.3s ease-in-out both;
    }
  }

  &__bonus-text{
    @include option(width, 400, 280);
    @include option(margin, 20 0 76, 20 0 40);
    @include scroll-in{
      animation: fade-in-bottom 0.3s 2.4s ease-in-out both;
    }
  }

  &__video{
    @include scroll-in{
      animation: fade-in 1s 2.6s ease-in-out both;
    }
  }
}
