.input {
  // Константы
  @mixin mod($mod) {
    @include modifier("input", $mod) {
      @content;
    }
  }
  @extend %DEFAULT;

  @include DESKTOP{
    width: vw(400px);

    &_email{
      width: vw(480px);
    }
  }
  @include TABLET{
    width: vw-t(267px);

    &_phone,
    &_email{
      width: 100%;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    @include TABLET{
      @include mod(email){
        flex-direction: column;
      }
      @include mod(phone){
        flex-direction: column;
      }
    }
  }


  &__input {

    $p: 0 22px;
    $p-em: 0 75px 0 22px;
    @extend %INPUT;
    display: block;
    background: $BASE-BG;
    flex: 1 1 auto;
    border: none;
    box-sizing: border-box;
    width: 100%;

    @include DESKTOP{
      padding: vw($p);
      @include mod(email){
        padding: vw($p-em);
      }
      @include mod(phone){
        padding: vw($p-em);
      }
    }
    @include TABLET{
      padding: vw-t($p);
      @include mod(email){
        flex: 1 1 100%;
        padding: vw-t($p-em);
      }
      @include mod(phone){
        flex: 1 1 100%;
        padding: vw-t($p-em);
      }
    }
  }

  &__input-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #e6e6e6;
    $w: 57px;
    @include DESKTOP{
      width: vw($w);
      height: vw($w);
    }
    @include TABLET{
      width: vw-t($w);
      height: vw-t($w);
    }
  }



  &__title{
    transform-origin: 0 0;
    margin: 0;
    color: #333333;
    white-space: nowrap;
    @include DESKTOP{
      padding-right: vw(18px);
    }
    @include TABLET{
      padding-right: vw-t(18px);
    }
  }
}
