.input {
  // Константы
  @mixin mod($mod) {
    @include modifier("input", $mod) {
      @content;
    }
  }
  @mixin hover {
    .input:hover & {
      @content;
    }
  }
  @mixin focus {
    .input:active &,
    .input:focus & {
      @content;
    }
  }
  position: relative;
  @include option(margin, 10 0);
  @include option(width, 400, auto, auto);
  @include DESKTOP{
    &_email{
      width: vw(480px);
    }
  }
  @include TABLET{
    &_simple{
      width: vw-t(267px);
    }
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include mod(simple){
      flex-direction: row;
      align-items: center;
    }
    @include DESKTOP{
      flex-direction: row;
      align-items: center;
    }
  }


  &__input {
    @extend %INPUT;
    display: block;
    background: $BASE-BG;
    flex: 1 1 auto;
    border: none;
    box-sizing: border-box;
    width: 100%;
    transition: background .3s;
    @include option(padding, 0 75 0 22);
    @include mod(simple){
      @include option(padding, 0 22);
    }

    @include hover{
      background: #e5e5e5;
    }
    &:focus,
    &:active,
    &:active:focus{
      background: $WHITE;
      box-shadow: inset 0 0 0 4px #e5e5e5;
    }
  }

  &__input-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    $w: 56px;
    @include option(width, 56,53);
    @include option(height, 56,53);

    img{
      width: 32%;
      height: 32%;
    }
  }



  &__title{
    white-space: nowrap;
    $p: 0 18px 0 0;
    @include option(padding, 0 18 0 0, 0 18 12, 0 18 15);

    @include mod(simple){
      @include option(padding, 0 18 0 0);
    }
  }

  &__error{
    display: none;
    position: absolute;
    top: -2em;
    right: 0;
    text-align: left;
    @include DESKTOP{
      @include mod(email){
        width: vw(348px);
      }
      @include mod(phone){
        width: vw(329px);
      }
    }
  }
}
