.social-block {
  // Константы
  @mixin mod($mod) {
    @include modifier("social-block", $mod){
      @content;
    }
  }
  display: flex;
  align-items: center;
  justify-content: center;

  &__item{
    @include option(width, 48);
    @include option(height, 48);
    @include option(margin, 0 3);
    cursor: pointer;
    background: $BLUE;
    transition: background .3s;
    &:hover{
      background: #669ec0;
    }
    &:active{
      background: #5496bd;
      svg{
        fill: rgba($WHITE,.3);
      }
    }
  }


  &__item-view{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background .3s;

    svg{
      fill: $WHITE;
      width: 50%;
      height: 50%;
      transition: fill .3s;
    }
  }
}
