.footer {
  // Константы
  @mixin mod($mod) {
    @include modifier("footer", $mod){
      @content;
    }
  }
  @mixin act-htmlacademy {
    .footer__hatmlacademy:active &{
      @content;
    }
  }
  @mixin hov-htmlacademy {
    .footer__hatmlacademy:hover &{
      @content;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include option(height, 120, 233);

  @include MOBILE{
    flex-direction: column;
    padding: vw-m(30px 0);
    box-sizing: border-box;
  }

  & > *{
    width: 100%;
    text-align: center;

    @include NOT-MOBILE{
      flex: 1 1 30%;
    }
  }

  &__hashtag{
    @extend %HASHTAG;
  }

  &__hatmlacademy{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    @include DESKTOP{
      justify-content: flex-end;
      padding: vw(0 44px);
    }
  }

  &__hatmlacademy-icon{
    @include option(width, 27);
    transition: fill .3s;
    @include hov-htmlacademy {
      fill: $BLUE;
    }
    @include act-htmlacademy {
      fill: #b2b2b2;
    }
  }

  &__hatmlacademy-span{
    @include option(margin-right, 11);
  }
}
