.footer {
  // Константы
  @mixin mod($mod) {
    @include modifier("footer", $mod){
      @content;
    }
  }
  @mixin act-htmlacademy {
    .footer__hatmlacademy:active &{
      @content;
    }
  }
  @mixin hov-htmlacademy {
    .footer__hatmlacademy:hover &{
      @content;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  $h: 120px;

  @include DESKTOP{
    height: vw($h);
  }
  @include TABLET{
    height: vw-t($h);
  }
  @include MOBILE{
    height: vw-m(233px);
    flex-direction: column;
    padding: vw-m(31px 0 29px);
    box-sizing: border-box;
  }

  & > *{
    width: 100%;
    text-align: center;

    @include NOT-MOBILE{
      flex: 1 1 30%;
    }
  }

  &__hashtag{
    @extend %HASHTAG;
  }

  &__hatmlacademy{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    @include DESKTOP{
      justify-content: flex-end;
      padding: vw(0 44px);
    }
  }

  &__hatmlacademy-icon{
    $w: 27px;
    transition: fill .3s;
    @include hov-htmlacademy {
      fill: $BLUE;
    }
    @include act-htmlacademy {
      fill: #b2b2b2;
    }

    @include DESKTOP{
      width: vw($w);
    }
    @include TABLET{
      width: vw-t($w);
    }
    @include MOBILE{
      width: vw-m($w);
    }
  }

  &__hatmlacademy-span{
    $mr: 11px;
    @include DESKTOP{
      margin-right: vw($mr);
    }
    @include TABLET{
      margin-right: vw-t($mr);
    }
    @include MOBILE{
      margin-right: vw-m($mr);
    }
  }
}
