.fact {
  // Константы

  $pm:vw-m(20px);
  @mixin mod($mod) {
    @include modifier("fact", $mod){
      @content;
    }
  }
  @mixin option-hover {
    .fact__option:hover &{
      @include DESKTOP{
        @content;
      }
    }
  }
  position: relative;
  width: 100%;
  background: $BLUE;
  color: $WHITE;
  animation: 1s ease-in-out both;

  @include mod(gray){
    background: $GRAY;
    color: $BLACK;
  }

  @for $i from 1 through 5{
    &:nth-of-type(#{$i}){
      animation-delay: .5s*$i;
    }
  }

  &_left{
    animation-name: fade-in-left;
  }
  &_right{
    animation-name: fade-in-right;
  }

  &_gray{
    flex: 1 1 30%;
    animation-name: fade-in-top;

    @include MOBILE{
      &:after{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        clear: both;
        display: block;
        width: vw-m(280px);
        height: 1px;
        margin: auto;
        background: #b2b2b2;
      }
    }

    &:nth-last-of-type(1){
      &:after{
        display: none;
      }
    }
  }

  &__wrapper{
    $h: 256px;
    display: flex;
    flex-direction: row;
    @include mod(right){
      @include NOT-MOBILE{
        flex-direction: row-reverse;
      }
    }
    @include DESKTOP{
      height: vw($h);
    }
    @include TABLET{
      height: vw-t($h);
    }
    @include MOBILE{
      flex-direction: column;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    @include DESKTOP{
      padding: vw(0 70px);
    }
    @include TABLET{
      padding: vw-t(0 50px);
    }

    @include MOBILE{
      padding: vw-m(0 56px);
      height: vw-m(191px);

      @include mod(gray){
        height: vw-m(168px);
      }
      @include mod(left){
        height: vw-m(211px);
        padding-top: vw-m(19px);
      }
    }

    @include mod(left){
      @include MOBILE{
        &:before{
          content: '';
          clear: both;
          display: block;
          position: absolute;
          top: vw-m(-19px);
          left: 0;
          right: 0;
          height: vw-m(38px);
          background: image("index/line-m.svg") no-repeat center / auto 100% ;
        }
      }
    }
  }
  &__title{
    @extend %H2;

    @include MOBILE{
      br{
        display: none;
      }
    }
  }

  &__index{
    margin: vw(10px auto);
  }

  &__description{
  }
  &__image{
    position: relative;
    flex: 1 0 auto;
    height: 100%;
    overflow: hidden;

    @include DESKTOP{
      width: 62.5vw;
    }
    @include TABLET{
      // width: 67.125vw;
      width: vw-t(256px * 2);
    }
    @include MOBILE{
      height: vw-m(260px);
    }

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include NOT-DESKTOP{
        height: 100%;
      }
      @include DESKTOP{
        width: 100%;
      }
    }
  }
  &__options{
    display: flex;
    overflow: hidden;
    $h: 330px;
    @include DESKTOP{
      height: vw($h);
    }
    @include TABLET{
      height: vw-t($h);
    }
    @include MOBILE{
      background: $WHITE;
      padding: vw-m(20px 0);
      flex-direction: column;
    }
  }
  &__option{

    $w:4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: background .3s, color .3s;
    cursor: default;
    background: $WHITE;
    color: $BLACK;

    @for $i from 1 through 3{
      &:nth-of-type(#{$i}){
        animation: fade-in-top 0.5s 1s+0.2s*$i ease-in-out both;
      }
    }

    @include MOBILE{
      padding: $pm;
      box-sizing: border-box;

      &:nth-of-type(2){
        order:1;
      }
    }

    @include DESKTOP{
      &:before,
      &:after{
        content: '';
        clear: both;
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        border: 0px solid $BLUE;
        transition: width .3s, height .3s .3s,;
        pointer-events: none;
      }


      &:before{
        top: $w;
        right: $w;
        border-bottom: none;
        border-right: none;
      }
      &:after{
        bottom: $w;
        left: $w;
        border-top: none;
        border-left: none;
      }

      &:hover{
        background: $BLUE;
        color: $WHITE;

        &:before,
        &:after{
          border-color: $WHITE;
          border-width: $w;
          width: calc(100% - #{$w}*3);
          height: calc(100% - #{$w}*3);
        }
      }
    }

  }
  &__option-info{
    width: 60%;
    margin: 0 auto;
    @include MOBILE{
      width: 65%;
      text-align: left;
    }
  }
  &__option-title{
    @extend %H2;
    @include DESKTOP{
      margin: vw(20px 0);
    }
    @include TABLET{
      margin: vw-t(20px 0);
    }
    @include MOBILE{
      margin: vw-m(5px 0 10px);
    }
  }

  &__option-icon{
    $w: 75px;
    @include DESKTOP{
      width: vw($w);
      height: vw($w);
    }
    @include TABLET{
      width: vw-t($w);
      height: vw-t($w);
    }
    @include MOBILE{
      position: absolute;
      top: calc(#{$pm} * 0.75);
      left: calc(#{$pm} * 0.5);
      width: vw-m(50px);
      height: vw-m(36px);
    }

    svg{
      max-width: 100%;
      max-height: 100%;
      fill: $BLUE;
      transform-origin: 50% 100%;
      transition: transform .3s, fill .3s;

      @include option-hover{
        transform: scale(1.1);
        fill: $WHITE;
      }
    }
  }

}
