.button {
  // Константы
  @mixin mod($mod) {
    @include modifier("button", $mod) {
      @content;
    }
  }
  @extend %BUTTON;
  $w: 485px;
  $h: 58px;
  background: $BLUE;
  border: none;
  cursor: pointer;
  transition: color .3s, background .3s;

  &:hover{
    background: #669ec0;
  }
  &:active{
    background: #5496bd;
    color: rgba($WHITE,.3);
  }

  @include DESKTOP{
    width: vw($w);
    height: vw($h);
  }
  @include TABLET{
    width: vw-t($w);
    height: vw-t($h);
  }
}
