.video {
  // Константы
  @mixin mod($mod) {
    @include modifier("video", $mod){
      @content;
    }
  }
  @include option(width, 800, auto, 648);
  @include option(height, 500, 200, 499);
  @include MOBILE{
    width: 100%;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
}
