@import "../../../../../node_modules/flickity/dist/flickity.css";

.flickity {
  &-slider {
    display: flex;
    align-items: center;
  }
}

.carousel {
  // Константы
  @mixin mod($mod) {
    @include modifier("carousel", $mod){
      @content;
    }
  }
  &__list {
    height: 100%;
  }
}
