.checkbox {
  // Константы
  @mixin mod($mod) {
    @include modifier("checkbox", $mod) {
      @content;
    }
  }
  @mixin checked(){
    .checkbox__input:checked ~ & {
      @content;
    }
  }
  @mixin radio(){
    .checkbox__input[type='radio'] ~ & {
      @content;
    }
  }


  @include DESKTOP{
    margin: vw(10px 0);
  }
  @include TABLET{
    flex: 0 0 40%;
    margin: vw-t(10px 0);
  }
  @include MOBILE{
    margin: vw-m(5px 0);
  }

  &__wrap{
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input{
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  &__check {
    width: 100%;
    height: 100%;
    background: image("check.svg") no-repeat center;
    transform: scale(0);
    transition: transform 0.1s ease-out;

    @include radio(){
      background: #333333;
      border-radius: 50%;
    }

    @include checked(){
      transform: scale(1);
    }
  }

  &__box {
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    background: $BASE-BG;
    $w: 57px;
    $mr: 20px;

    @include DESKTOP{
      width: vw($w);
      height: vw($w);
      margin-right: vw($mr);
    }
    @include TABLET{
      width: vw-t($w);
      height: vw-t($w);
      margin-right: vw-t($mr);
    }
    @include MOBILE{
      width: vw-m(55px);
      height: vw-m(55px);
      margin-right: vw-m($mr);
    }

    @include radio(){
      border-radius: 50%;
    }

    &::before {
      content: '';
      display: block;
      @extend .checkbox__check;

      @include radio(){
        border-radius:50%;
      }
    }
  }

  &__label {
    @extend %INPUT;
    text-transform: none;
    cursor: pointer;
  }
}
