//- GUI
include gui/gui

//- Элементы
//-include mute-button/mute-button
include fact/fact

//- Блоки
include custom-modal/custom-modal
include custom-menu/custom-menu
include footer/footer
include intro-block/intro-block

//- Страницы
include success-modal/success-modal
include error-modal/error-modal
include p-index/p-index
include p-photo/p-photo
include p-form/p-form
include spa/spa
