extends ../../framework/page/page

append constants
  if php
    include ../utils/php-utils/php-utils.php

append mixins
  include ../../framework/framework
  include ../project

append body_before
  //-script.
      if (window !== top) { document.body.className += ' _iframe'; }
  //-include _svg-symbols
  //-+bitrix-panel()


append modal
  //-
    +custom-modal(copyright.modalStory)(id="modal-story")
    +custom-modal(copyright.modal, {"isGallery": true})(id="modal-gallery")
    +custom-modal(copyright.modalMemorial, {"isMemorial": true})(id="modal-memorial")
    +custom-modal(copyright.modalMap, {"isMap": true})(id="modal-map")
    +custom-modal(copyright.modalImage, {"isImage": true})(id="modal-image")


block page
  input(type="checkbox" id="menu-burger")
  .page.custom-page
    include ../custom-header/custom-header
    block content
    +footer(copyright.footer)
