extends ../../framework/page/page

append constants
  if php
    include ../utils/php-utils/php-utils.php

append mixins
  include ../../framework/framework
  include ../project

append body_before
  //-script.
      if (window !== top) { document.body.className += ' _iframe'; }
  //-include _svg-symbols
  //-+bitrix-panel()


append modal
  +custom-modal()#success-modal.custom-modal_border.custom-modal_success-modal
    +success-modal()
  +custom-modal()#error-modal.custom-modal_border.custom-modal_error-modal
    +error-modal()

block page
  input(type="checkbox" id="menu-burger")
  .page.spa.custom-page.custom-page_index
    include ../custom-header/custom-header
    block content
    +footer(copyright.footer)
