@import "../../framework/page/page";

.custom-page {
  min-height: 100vh;
  position: relative;
  height: auto;
  @extend %DEFAULT;

  @include DESKTOP{
    width: vw(1200px);
    margin: auto;
  }
}

html{
  background: $BASE-BG;
}
