@import "../../framework/page/page";

.custom-page {
  @extend %DEFAULT;
  position: relative;
  // height: auto;
  height: 100%;
  min-height: 100%;
  background: $WHITE;
  box-sizing: border-box;


  @include DESKTOP{
    padding-top: vw(56px);
    width: vw(1200px);
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
  @include TABLET{
    padding-top: vw-t(56px);
  }
}

html{
  background: $BASE-BG;
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  // scroll-behavior: smooth;
}
