.nicescroll-rails {
  width: 7px;
  border-radius: 7px;
  right: 0;
  left: 100%;
}

.custom-scroll {
  @mixin mod($mod) {
    @include modifier("custom-scroll", $mod) {
      @content;
    }
  }

  position: relative;
  height: 100%;
  overflow: auto;


  &__content{
    height: 100%;
  }
}
